.DS_Store
.gradle/
.gradle-wrapper/
generated/
bin/
# Eclipse project files
.classpath
.project
.settings
build/

felix-cache/
cnf/cache/
# Windows thumbnail db
Thumbs.db
.metadata

cnf/release/*.zip
cnf/run/bundle/net.younic.*

bin_test/
