.DS_Store
.gradle/
.gradle-wrapper/
generated/
bin/
# Eclipse project files
.classpath
.project
.settings
.*.swp
build/

felix-cache/
cnf/cache/
# Windows thumbnail db
Thumbs.db
.metadata

cnf/release/*.zip
cnf/release/index.xml*
cnf/run/bundle/net.younic.*
!cnf/run/bin/

bin_test/
.idea
cnf/run/bundle/distributions/*
*.iml
