.dir-list {
	background-color: white;
	border: solid 1px lightgray;
	display: flex;
	font-size: 1em;
	margin-top: 15px;
	min-height: 275px;
	overflow: auto;
	width:100%;
	font: 400 1em/1.4 "Lucida Grande", Arial, Verdana, sans-serif;
}

.dir-col {
	border-right: solid 1px lightgray;
	max-height: 600px;
	min-height: inherit;
	min-width: 200px;
	overflow-y: auto;
}
.dir-col > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dir-col li {
	cursor: pointer;
	padding: 5px;
	text-align: left;
}
.dir-col li.active {
	background-color: azure;
	border-top: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
}
.dir-col li.current {
	background-color: red;
}
.dir-col li:hover {
	background-color: blue;
	color: white;
}
.editor {
	width: 100%;
    height: 180px;
    font-family: courier;
    font-size: 12px;
}